header{
    width: 100%;
}
header .headerwrap{
    height: 40px;
    background-color: beige;
}

header .headerwrap .page-title{
    font-size:25px;
    font-weight: bolder;
}
header table{
    float:left;
    margin: 0 auto;
}

main {
    width: 100%;
    height: 250px;
}
