.wrap{
    width: 100%;
}

header{
    width:100%;
     background-color: gainsboro;
    height: 80px;
}
header .header-wrap{
    width:80%;
    height:100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

header .header-wrap .page-title{
    font-size:25px;
    font-weight: bolder;
    align-items: center;
    vertical-align:middle;
    margin: 0 auto;
}

header .title-nav{
    width:500px;
    float:left;
    margin-top: 30px;
    vertical-align:middle;

}

main {
    width: 100%;

}

main .main-wrap{
    height: 250px;
    width: 90%;
    margin: 0 auto;
    /*background-color: #0c5460;*/
}
main .main-wrap .main_data{
    width: 50%;
    margin:0 auto;
}
main .main-wrap .buttons{
    margin: 0 auto;
}
